body {
    background-color: rgb(209, 197, 181);
    color: rgb(83, 75, 65);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 50px;
    color: rgb(51, 50, 50);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    color: rgb(51, 50, 50);
}


.photo_perfil {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blocktext {
    margin: 100px;
}

.habilidades {
    margin: 100px;
}

a:link, a:visited {
    color: rgb(83, 75, 65);
    text-decoration:none;
  }
  a:hover, a:active {
    color: rgb(126, 118, 109);
    text-decoration:underline;
  }

  a.trybe:link, a.trybe:visited  {
    color: #2fc18c;
    text-decoration:none;
  }

  a.trybe:hover, a.trybe:active {
    color: #046b53;
    text-decoration:underline;
  }